.explore-servers-container {
    height: 784px;
    width: 944px;
}

.explore-servers-message {
    width: 100%;
}

.explore-server-item {
    border: none;
    margin: 8px 16px;
}

.explore-server-item:hover {
    cursor: pointer;
}