/* form page layout styling */

.form-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--logo-blue);
}

.form-card {
    width: 480px;
    height: 408px;
    background-color: var(--form-bg);
    border: 1px solid #000000;
    border-radius: 5px;
}

/* form card content styling */

.form-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header div {
    margin-bottom: 15px;
}

.header-text {
    font-size: 24px;
}

/* form fields styling */

.form-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-label {
    margin-bottom: 15px;
    font-size: 12px;
    text-transform: uppercase;
}

.required {
    color: var(--danger);
}

.form-label input {
    text-decoration: none;
    width: 98%;
    background-color: #1e1e1e;
    border: none;
    color: #ffffff;
    line-height: 24px;
    font-size: 16px;
    border-radius: 3px;
}

.form-label input:focus {
    outline: none;
}

.form-button {
    background-color: var(--logo-blue);
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 15px;
    margin-top: 30px;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #3e48b9;
    cursor: pointer;
}