/* Ginto Normal */

@font-face {
    font-family: 'Ginto Normal Regular';
    src: local('Ginto Normal Regular'), url(./fonts/ABCGintoNormal-Regular-Trial.woff) format('woff');
}

@font-face {
    font-family: 'Ginto Normal Thin';
    src: local('Ginto Normal Thinn'), url(./fonts/ABCGintoNormal-Thin-Trial.woff) format('woff');
}

@font-face {
    font-family: 'Ginto Normal Black';
    src: local('Ginto Normal Black'), url(./fonts/ABCGintoNormal-Black-Trial.woff) format('woff');
}

@font-face {
    font-family: 'Ginto Normal Bold';
    src: local('Ginto Normal Bold'), url(./fonts/ABCGintoNormal-Bold-Trial.woff) format('woff');
}

/* Ginto Nord */

@font-face {
    font-family: 'Ginto Nord Regular';
    src: local('Ginto Nord Regular'), url(./fonts/ABCGintoNord-Regular-Trial.woff) format('woff');
}

@font-face {
    font-family: 'Ginto Nord Black';
    src: local('Ginto Nord Black'), url(./fonts/ABCGintoNord-Black-Trial.woff) format('woff');
}

/* Whitney */

@font-face {
    font-family: 'Whitney Bold';
    src: local('Whitney Bold'), url(./fonts/whitneybold.otf) format('otf');
}

@font-face {
    font-family: 'Whitney Light';
    
    src: local('Whitney Light'), url(./fonts/whitneylight.otf) format('otf');
}
@font-face {
    font-family: 'Whitney Medium';
    src: local('Whitney Medium'), url(./fonts/whitneymedium.otf) format('otf');
}