/* Ginto Nord */

@font-face {
    font-family: 'Ginto Nord Bold';
    src: local('Ginto Nord Bold'), url(./fonts/ABCGintoNord-Bold-Trial.woff) format('woff');
}

@font-face {
    font-family: 'Ginto Nord Black';
    src: local('Ginto Nord Black'), url(./fonts/ABCGintoNord-Black-Trial.woff) format('woff');
}

/* Noto Sans */

@font-face {
    font-family: 'Noto Sans Thin';
    src: local('Noto Sans Thin'), url(./fonts/NotoSans-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans Light';
    src: local('Noto Sans Light'), url(./fonts/NotoSans-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans Regular';
    src: local('Noto Sans Regular'), url(./fonts/NotoSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans Medium';
    src: local('Noto Sans Medium'), url(./fonts/NotoSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans Bold';
    src: local('Noto Sans Bold'), url(./fonts/NotoSans-Bold.ttf) format('truetype');
}

/* Whitney */

@font-face {
    font-family: 'Whitney Bold';
    src: local('Whitney Bold'), url(./fonts/whitneybold.otf) format('opentype');
}

@font-face {
    font-family: 'Whitney Light';
    src: local('Whitney Light'), url(./fonts/whitneylight.otf) format('opentype');
}
@font-face {
    font-family: 'Whitney Medium';
    src: local('Whitney Medium'), url(./fonts/whitneymedium.otf) format('opentype');
}