:root {
    /* modal container colors */
    --form-light-bg: #ffffff;
    --form-light-text: rgb(6, 6, 7);
    --form-light-message: rgb(78, 80, 88);
    --form-light-input-bg: hsla(0, 0%, 0%, 0.08);
    --form-light-input-text: rgb(49, 51, 56);

    /* splash page colors */
    --splash-blue: hsl(235, 83%, 59%);
    --off-white: hsl(0, 0%, 96%);
    --splash-footer: hsl(206, 9%, 15%);
    --brand-blue: hsl(235, 86%, 65%);

    /* login / register page colors */
    --form-dark-bg: hsl(223, 7%, 21%);
    --form-dark-field: hsl(215, 9%, 73%);
    --status-danger: hsl(359, 87%, 60%);
    --text-danger: hsl(358, 93%, 72%);
    --text-link: hsl(200, 100%, 49%);

    /* main component colors */
    --servers-bar: hsl(225, 6%, 13%);
    --content-sidebar: hsl(220, 7%, 18%);
    --content-body-sidebar: hsl(228, 7%, 15%);
    --content-text: rgb(148, 155, 164);

    /* server components colors */
    --servers-tool-item: hsl(145, 65%, 39.2%);
    --servers-separator: hsl(228, 6%, 33%);

    /* sidebar components colors */
    --active-sidebar-item-bg: rgba(78, 80, 88, 0.6);
}

body {
    font-family: 'Noto Sans Regular','Whitney Medium',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

/* button colors */

.white-button {
    background-color: #ffffff;
    color: #000000;
    transition: box-shadow 0.3s;
}

.black-button {
    background-color: #000000;
    transition: opacity 0.3s, box-shadow 0.3s;
}

.blue-button {
    background-color: var(--brand-blue);
    color: #ffffff;
    transition: opacity 0.3s, box-shadow 0.3s;
}

/* button color hover effects */

.white-button:hover {
    box-shadow: 5px 5px 5px #000000;
}

.black-button:hover {
    opacity: 0.7;
    box-shadow: 3px 3px 3px #ffffff;
}

.blue-button:hover {
    opacity: 0.9;
    box-shadow: 3px 3px 3px #000000;
}

/* button sizes */

.small-button {
    font-size: 14px;
    padding: 7px 16px;
    border-radius: 40px;
}

.large-button {
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 28px;
}

/* navlink styling */

.navlink {
    text-decoration: none;
    color: #ffffff;
}

/* text colors */

.form-light-message {
    color: var(--form-light-message);
}
