:root {
    --splash-blue: #404eed;
    --brand-blue: #5865f2;
    --off-white: #f6f6f6;
    --not-quite-black: #23272a;
    --form-bg: hsl(223 6.7% 20.6%);
    --status-danger: hsl(359 87.3% 59.8%);
    --text-danger: hsl(358 92.9% 72.4%);
    --text-link: hsl(200 100% 49.4%);
}

body {
    font-family: 'Noto Sans Regular','Whitney Medium',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

/* button colors */

.white-button {
    background-color: #ffffff;
    color: #000000;
    transition: box-shadow 0.3s;
}

.black-button {
    background-color: #000000;
    transition: opacity 0.3s, box-shadow 0.3s;
}

.blue-button {
    background-color: var(--brand-blue);
    color: #ffffff;
    transition: opacity 0.3s, box-shadow 0.3s;
}

/* button color hover effects */

.white-button:hover {
    box-shadow: 5px 5px 5px #000000;
}

.black-button:hover {
    opacity: 0.7;
    box-shadow: 3px 3px 3px #ffffff;
}

.blue-button:hover {
    opacity: 0.9;
    box-shadow: 3px 3px 3px #000000;
}

/* button sizes */

.small-button {
    font-size: 14px;
    padding: 7px 16px;
    border-radius: 40px;
}

.large-button {
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 28px;
}

/* login / register form styling */