.body-item-container {
    display: flex;
    margin-top: 17px;
    padding: 2px 48px 2px 72px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.body-item-icon {
    position: absolute;
    left: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-item-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--off-white);
}

.body-item-author {
    font-family: 'Noto Sans Medium';
}

.body-item-content {
    overflow-wrap: break-word;
}