/* content body layout styling */

.content-body-container {
    background-color: var(--form-dark-bg);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.body-header-container {
    height: 32px;
    padding: 8px;
    display: flex;
    align-items: center;
    color: var(--off-white)
}

/* body content layout styling */

.body-content-container {
    display: flex;
    flex-grow: 1;
    border-top: 1px solid #000000;
    width: 100%;
}

.body-content-items-container {
    flex-grow: 1;
    position: relative;
    max-width: calc(100vw - 552px);
}

.body-content-items-wrapper {
    max-height: calc(100vh - 116px);
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 68px;
}

.body-content-items-wrapper::-webkit-scrollbar {
    width: 6px;
}

.body-content-items-wrapper::-webkit-scrollbar-track {
    background-color: inherit;
}

.body-content-items-wrapper::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
}

.body-content-items-form {
    position: absolute;
    bottom: 0;
    height: 68px;
}

/* body content sidebar layout styling */

.body-content-sidebar-container {
    background-color: var(--content-body-sidebar);
    width: 100%;
    max-width: 240px;
}