/* main content layout styling */

.main-content-container {
    display: flex;
    flex-grow: 1;
    font-family: 'Whitney Medium';
    color: var(--content-text);
}

.content-sidebar-container {
    background-color: var(--content-sidebar);
    width: 240px;
    position: relative;
}

.content-sidebar-header-container {
    height: 48px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.content-sidebar-header-container:hover {
    cursor: pointer;
    background-color: var(--form-light-input-text);
}

.content-sidebar-header {
    height: 24px;
    padding: 12px;
    width: 100%;
    color: var(--off-white);
}

.content-sidebar-header-dm {
    font-size: 14px;
}

.content-sidebar-header-server {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content-sidebar-header-server:hover {

}

.angle-down {
    width: 24px;
    filter: invert(1);
}

.content-sidebar-item-container {
    border-top: 1px solid #000000;
    padding: 8px;
}

.user-container {
    background-color: var(--content-body-sidebar);
    height: 53px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}

.logout {
    color: var(--text-link);
    text-decoration: none;
}

.logout:hover {
    cursor: pointer;
    text-decoration: underline;
}