.sidebar-item-container {
    display: flex;
    justify-content: space-between;
}

.sidebar-item-container:hover .sidebar-item-settings {
    opacity: 1;
}

.sidebar-item-settings {
    opacity: 0;
}

.sidebar-item-settings:hover {
    background-color: #000000;
}