.sidebar-item-container {
    display: flex;
    justify-content: space-between;
}

.sidebar-item-link {
    margin: 1px 0;
    border-radius: 4px;
}

.sidebar-item-link:hover {
    background-color: var(--form-dark-bg);
}

.sidebar-item-link.active {
    background-color: var(--active-sidebar-item-bg);
}

.sidebar-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 6px 8px;
}

.sidebar-item-container:hover .sidebar-item-settings {
    opacity: 1;
}

.sidebar-item-settings {
    opacity: 0;
    color: var(--content-text);
}

.sidebar-item-settings:hover {
    color: var(--off-white);
}